# Environment files
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo

# Conda
*.conda
*.lock

# Poetry
poetry.lock
.pyproject.toml.bkp

# Virtual environments
venv/
.env/         # локальные IDE env директории
*/.venv/

# VSCode / PyCharm settings
.vscode/
.idea/

# OS
.DS_Store

# FAISS index files (large)
*.idx
*.faiss
*.bin
